.bg-img-abput-us-1 {
    background-image: url('../photos/About-us/first-section-about-us.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-img-abput-us-2 {
    background-image: url('../photos/About-us/second-section-about-us.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
}

.bg-img-abput-us-3 {
    background-image: url('../photos/About-us/third-section-about-us.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.bg-img-abput-us-4 {
    background-image: url('../photos/About-us/fourth-section-about-us.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;

}

.column-box2
{
    margin-top: 10%; padding: 0;
}

.space-nav-about-us:not(:last-child) {
    margin-right: 20% !important;
}

.title-column{
    margin-top: 4vw !important;
}

.about-card
{
    background: none !important;
    border: none !important;
}

.card-content
{
    background: none !important;
}

.title1{
    font-size: 3em; 
    margin-bottom: 0;
}


.column-box{
    height: 80%;
}

.box1{
    width: 90%;
     border: 2px solid black; 
     overflow: hidden;
}
.box2{
    width: 90%;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
}

.image2
{
    height: 78%;
    margin-left: -15%;
}
.github-link
{
    color:rgb(48, 48, 48);
}
@media (max-width: 1500px) {
    .bg-img-abput-us-1,
    .bg-img-abput-us-2,
    .bg-img-abput-us-3,
    .bg-img-abput-us-4 {
      background-image: none;
    }
    .box1 {
        width: 110% !important;
    }
    .big-container
{
margin-bottom: -50%;
}
.big-container1
{
    margin-bottom: -50%;
}
.big-container2
{
    margin-bottom: -50%;
}
}
@media (min-width: 780px) {
    .box1 {
        margin-top: 25%;
        margin-left: -10%;
    }
    .box2 {
        margin-left: 31%;
        margin-top:20% ;
    }
}
@media (max-width: 780px) {
    .phone-column2{
        flex-direction: column;
    }
    .phone-column
    {
        flex-direction: column-reverse ;
    }
     .image1{
        height: 95%;
    }
    .image2
    {
        height: 95%;
    }
    .box2{
        width: 110%;
    }
}
