@import url(../styles/style.css);

#leaflet-map {
    width: 100vw;
    height: 100vh;
}

.visibility-container-fullmap {
    display: none;
}

#applyButton {
    position: relative;
    bottom: 0;
    left: 13%;
    margin-top: 3vh;
    width: 8vw;
    height: 2vw;
    font-size: 0.8vw;
    border-radius: 1vw;
    border: 0px solid #cac3c3;
    background: #cac3c3;
    transition: 0.2s ease-in-out;
}
#applyButton:hover{
    background: rgba(243, 242, 242, 0.53);
    border: 0px solid rgba(243, 242, 242, 0.53);
}

.custom_button_full-map{
    background-color: #1b222c;
    cursor: pointer;
    border-color: transparent;
    color: #fff;
}
#overlay-div{
  position: fixed;
  width: 20vw;
  height: 17vw;
  top: 35%;
  left: 1%;
  border-radius: 20px;
  padding-left: 1%;
  font-size: 1.3vw;
  background-color: rgba(26, 25, 25, 0.599);
  color: white;
  display: flex;
  flex-direction: column;
  
}
.container-flex-alignment {
    display: flex;
    justify-content: flex-end;

}
#hide{
    width: 1vw;
    margin-top: 2vh;
    margin-right: 2vw;

   background-color: transparent;
   border: none;
}
  .styling-text-container-full-map{
    margin-top: 5vh;
    color: white;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
  }