.body {
   background-image: url(../photos/main-background-vector.svg);
   background-size: 90%; 
   background-position: right top;
   background-repeat: no-repeat;
   overflow-x: hidden;
 
}

.ph-styling{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 29%;
  margin-top: -7%;
  width: 62vw;
  height: 78vh;

 
}
 #land{
  position: relative;
  z-index: 0;
  width: 65rem;
  height: auto;
} 
.head-text{
  color: #163920;
font-family: Comfortaa;
font-size: 128px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.28px;
}