@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


.back {

  background-image: url(../photos/1234.png);
  background-size: 79rem; 
  background-position: right top; 
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: -5%;


}
.head-text{
  color: #163920;
font-family: Comfortaa;
font-size: 128px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.28px;
}

.phlk
{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.margin-top-text{
  margin-top: -15%;
  margin-left: 2%;
}
.phhh
{
  color: #163920;
  font-family: Comfortaa;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;

}
.buttonnsas
{
  width: 17% !important;
  border-radius: 49px !important;
  border: 1px solid #FFF !important;
  box-shadow: 10px 16px 57.4px -4px rgba(0, 0, 0, 0.314) !important;
  background: linear-gradient(90deg, #347B2A 0.2%, rgba(5, 200, 48, 0.67) 101.51%, #131614 179.57%) !important;
  padding: 1% !important;
}

.text__size
{
  text-align: center !important;
  font-size: 106% !important;
  font-weight: 400 !important;
  line-height: 119.5% !important;
  letter-spacing: 1px !important;
}

.arrow-down
{
  margin-left: 31%;
  width: 4%;
}
#qwedc
{
  padding-top: 3%;
}
.a{
  padding-bottom: 11%;
  width: 20%;
  font-size: 39px;
  position: relative;
  left: 4%;
  top: 0%;
  font-weight: 700;
}
.b{
  height: 10rem;
  font-size: 39px;
  width: 18%;
  position: relative;
  bottom: 0%;
  font-weight: 700;
  margin-left: 85%;
}
.c{
  margin-bottom: 20%;
  margin-top: 10%;
  width: 20%;
  font-size: 39px;
  position: relative;
  bottom: 0%;
  font-weight: 700;
  margin-left: 45%;

}

.wsxcde
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;

}

.sliding-block
{
  width: 100%;
  height: 40vh;
  margin-bottom: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: column;
}

.photo11
{
  width: 5%;
  height: 15%;
}

#what-believe-text
{
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 4%;
  font-family: Comfortaa;
  color: #14C93C;
}

#text-for-what-believe1
{
  margin-top: 6%;
  margin-left: 9%;
  width: 40%;
  color: black;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight:600;
  line-height: normal;
}

#text-for-what-believe2
{
  margin-top: 9%;
  float: right;
  margin-right: 9%;
  width: 33%;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: end;
}

#text-for-what-believe3
{
  margin-top: 26%;
  margin-left: 8.5%;
  width: 45%;
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8%;
}
#important-things-about-Earth {
  margin-top: 10%;
  display: flex;
  margin-left: 5%;
  width: 100%;
  justify-content: space-around;
}

#clean-air-div
{
  padding-left: 5%;
  align-items: end;
}

#clean-air-text
{
  margin-left: 25%;
  color: #000;
  font-size: 20px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#clean-earth-div
{
  padding-left: 6%;
}

#clean-earth-text
{
  margin-left: 20%;
  color: #000;
  font-size: 20px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#easier-recycling-div
{
  padding-right: 9%;
}

#easier-recycling-text
{
  margin-left: 21%;
  color: #000;
  font-size: 20px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -5%;
}


#clean-air-photo,
#clean-earth-photo,
#easier-recycling-photo {
  width: 80%;
  height: auto; 
}

#join-revolution
{
  border-radius: 128px;
  background: linear-gradient(260deg, #15cc3d 17.47%, rgb(60 159 83 / 79%) 105.57%);
  box-shadow: 1px 8px 12px 14px rgba(0, 0, 0, 0.17);
  margin-top: 3%;
  margin-left: 39%;
  width: 21%;
  height: 4.5rem;
  margin-bottom: 5%;
}

#join-revolution-text
{
  color: #FFF;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#air_energy
{
  color: #00FF38;
  font-family: Comfortaa;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 9.5px;
  margin-top: 15%;
  margin-bottom: 1%;
  margin-left: 5%;

}

#production-text
{
  position: relative;
  color: #00FF38;
  font-family: Comfortaa;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 6.1px;
  margin-left: 5%;
}

#production-text::after
{
  content: '';
  height: 0.125rem;
  width: 4%;
  background: #099327;
  position: absolute;
  left: 1%;
  bottom: -215%;

}

#air_energy-text
{
  color: #000;
  margin-top: 7%;
  margin-left: 5%;
  font-size: 20px;
  width: 30%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.28px;

}

#windmills
{
  width: 50%;
  height: auto;
  float: right;
  margin-top: -40%;
}

#line1
{
  margin-top: -9%;
  width: 30%;
  height: auto;
  z-index: 100;
  margin-left: 35%;
}


#solar_panels
{
  width: 50%;
  height: auto;
  margin-top: -9%;
}

















 @media (max-width: 1500px) {
  .back {
      display: none;

  }
  .qazxsw
  {
    display: none !important;
  }
  .phlk
  {
    background-image: url(../photos/23.png);
    background-size: 51rem ;
    background-position: top;
    background-repeat: no-repeat;
    height: 104vh ;
  }
  .phhh
{
    color: #163920;
    font-family: Comfortaa;
    font-size: 70px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;

}
  
  .margin-top-text
  {
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 19%;
  }
  .buttonnsas
  {
    width: 57% !important;
  }
  .arrow-down
{
  margin-left: 31%;
  width: 4%;
}
  .a{
    padding-bottom: 45%;
    width: 60%;
  }
  .b
  {
    height: 10rem;
    font-size: 39px;
    width: 18%;
    position: relative;
    bottom: 0%;
    font-weight: 700;
    margin-left: 71%;
  }
  .c{
    position: relative;
    margin-left: 38%;
  
  }
  .photo11
  {
    width: 5%;
    height: 15%;
  } 
  #clean-air-text
  {
    margin-left: 7%;
  }
  #join-revolution
  {
    margin-left: 26%;
    width: 53%;
  }
} 

@media (max-width: 600px) {
  .back {
      display: none;

  }
  .qazxsw
  {
    display: none !important;
  }
  .phlk
  {
    background-image: url(../photos/23.png);
    background-size: 27rem ;
    background-position: top;
    background-repeat: no-repeat;
    height: 80vh ;
  }
  .phhh
{
  color: #163920;
  font-family: Comfortaa;
  font-size: 48px !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  padding-bottom: 6%;
}
  .margin-top-text
  {
    margin-top: 90%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .buttonnsas
  {
    width: 57% !important;
  }
  .arrow-down
  {
    margin-top: 5%;
    margin-left: -2%;
    width: 34%;
  }
    .a{
      padding-bottom: 45%;
      width: 60%;
    }
    .b
    {
      height: 10rem;
      font-size: 39px;
      width: 18%;
      position: relative;
      bottom: 0%;
      font-weight: 700;
      margin-left: 58%;
    }
    .c{
      position: relative;
      margin-left: 35%;
    
    }
}