@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Comfortaa:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Caveat&family=Comfortaa:wght@300;500&display=swap");

.stop-scrolling {
  position: fixed;
} 

.position-for_every-section {
  background-position: right top;
  background-repeat: no-repeat;
}

.text-green {
  color: #44a960 !important;
}

.size_of_every_section {
  width: 100vw;
  height: 100vh;
}

.back-color {
  background: linear-gradient(180deg, #1f1f1f 0%, #0b110c 100%);

  z-index: 0;
}

.back {
  background-image: url(../photos/home-page/main-land-homepage-background.svg);
  background-size: 65rem;

  z-index: 1;
}
.position_for_text_on_phone {
  width: 100vw;
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.custom-margin-on-button-hm-1 {
  border: none !important;
  width: 15vw;
  height: 8vh !important;
  border-radius: 17px !important;
  background: #00ff38 !important;
  box-shadow: 4.70769px 7.53231px 17.46554px -1.88308px rgba(0, 0, 0, 0.25) !important;
  transition: 0.3s;
}
.custom-margin-on-button-hm-1:hover{
  opacity: 0.7;
}

.bugar {
  font-family: "Montserrat" !important;
  color: #1b222c !important;
}

.we_need_you_right {
  height: 20vh;
  width: 100vw;
}

#now {
  height: 60vh;
  width: 100vw;
}

#custom_now_size {
  font-size: 75px !important;
  padding-top: 7%;
}

.slideshow-container {
  height: 40vh;
  width: 100%;
}

.blocks {
  height: 40vh;
  width: 100%;
  margin-top: 5%;
}

.textttt {
  font-family: Caveat;
  font-size: 60px;
  display: flex;
  align-items: stretch;
  text-align: center;
  justify-content: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 5%;
}

.fade,
.fade1 {
  display: none;
  position: absolute;
  animation: fade 1.5s ease-in-out;
}

.fade1 {
  animation: fade1 1.5s ease-in-out;
}

.size_of_every_seection
{
  height: 100%;
}

.revolution-img {
  width: 70%;
  height: auto;
}

#join-revolution {
  background-color: transparent;
  height: 9vh;
  border-color: #00b628;
  box-shadow: 0 0 10px 0 #00b628 inset, 0 0 10px 4px #00b628;
  color: #cac3c3 !important;
  transition: all 0.2s ease-in-out;
}
#join-revolution:hover {
  box-shadow: 0 0 40px 40px #00b628 inset, 0 0 0 0 #00b628;
  color: #1b222c !important;
}

#planted_trees-section {
  background-image: url(../photos/home-page/background-of-table.svg);
  background-size: 100%;
  height: 130vh;
  width: 100vw;
}

#table {
  width: 79%;
  height: auto;
}

#information_for_the_table {
  margin-left: -5%;
  margin-top: -5%;
}

#planted-trees {
  letter-spacing: 5.6px;
  margin-left: 35%;
}

#why-need-you {
  color: #d4f173;
  letter-spacing: 5.83px;
  margin-left: 60%;
}

#why-need-you::after {
  content: "";
  height: 0.125rem;
  width: 16%;
  background: #d4f173f2;
  position: absolute;
  margin-top: 19%;
  margin-right: 4%;
}

#planted-trees-text {
  letter-spacing: 3.6px;
  width: 80%;
  margin-left: 19%;
}

.subtittle_after_effect::after {
  content: "";
  height: 0.125rem;
  width: 6%;
  background: #099327;
  position: absolute;
  left: 1%;
  bottom: -65%;
}

#line1 {
  margin-top: -13%;
  margin-left: 35%;
  height: 382px;
}

#sun_energy {
  margin-top: -13%;
}

#sun_energy_text {
  margin-left: 5%;
}

#production_effect::after {
  content: "";
  height: 0.125rem;
  width: 6%;
  background: #099327;
  position: absolute;
  left: 93.5%;
  bottom: -65%;
}

#benefit {
  margin-top: -10%;
}

#line2 {
  z-index: 33 !important;
  width: 431px;
  height: 373px;
  margin-left: 37%;
  margin-top: -13%;
}
 

#background-of-the-groups-waiting {
  background-image: url(../photos/home-page/background-of-goups-waiting.svg);
  background-size: 100%;
  height: 126vh;
  width: 100%;
}

.inside-table-of-groups-waiting {
  border-bottom: 1px solid #000 !important;
}

#table-of-groups-waiting {
  border-radius: 49px;
  background:  linear-gradient(108deg, #DEE8DF -3.21%, rgba(200, 207, 215, 0.92) 98.29%);
  height: 60%;
  width: 60%;
}

#groups_waiting
{
  letter-spacing: 10.5px;
}

.join_now {
  background-color: transparent !important;
  border: 3px solid;
  border-color: #00b628 !important;
  background-image: linear-gradient(45deg, #00b628 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  border-radius: 40px !important;
  transition: 0.6s ease-in-out;
}
.join_now:hover {
  color: #cac3c3  !important;
  background-position: 0;
}

.report_button{
  background-color: #00b628 !important;
  border-radius: 49px !important;
  border: none !important;
  transition: 0.3s !important;
}
.report_button:hover{
  opacity: 0.7 !important;
}

#footer {
  background-image: url(../photos/home-page/footer-background.svg);
  background-size: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#footer-logo {
  width: 240px;
  height: 287px;
}

#input_box {
  border-radius: 13px;
  background-color: #ebebeb;
  border: none;
  width: 65%;
  margin-top: 7%;
}

#input_box::placeholder {
  color: #000;
  letter-spacing: 2px;
  font-size: 18px;
}

#submit_button {
  margin-top: 3%;
  border-radius: 49px;
  background-color: #a9e1c9;
  box-shadow: 10px 16px 5px -4px rgba(0, 0, 0, 0.25);
  width: 65%;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade1 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1214px) {
  .stop-scrolling {
    position: relative;
  }
  #background-of-the-groups-waiting
  {
    background-image: none;
  }
  .custom-margin-on-button-hm-1 {
    width: auto;
  }

  #join-revolution {
    color: #ffffff !important;
    background-color: #068321;
    }

  .subtittle_after_effect::after, #line1, #line2, #why-need-you::after, #production_effect::after {
    display: none;
  }

  #air_energy, #benefit, #sun_energy, #green_revolution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #sun_energy {
    margin-top: 5%;
    flex-direction: column-reverse;
  }
 
  #planted_trees-section {
    background-image: none;
    margin-top: 0%;
    height: 100%;
  }
  #table, #why-need-you, #information_for_the_table, #planted-trees, #planted-trees-text{
    margin-right: 0% !important;
    margin-left: 0% !important;
  }
  #information_for_the_table
  {
    margin-top: 0;
  }

  #background-of-the-groups-waiting, #table-of-groups-waiting {
    height: 100%;
  }
}
 
@media (max-width: 1214px) {
  .img_for_smaller_screens {
    display: unset;
  }
  .back {
    background-color: #0b110c;
    background-image: none;
  }
  .position_for_text_on_phone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
}

@media (max-width: 1280px) {
  #clean_air{
    width: 200%;
  }
}

@media (max-width: 913px) and (min-width: 799px)
{
  .stages_tree{
    width: 25%;
  }
}

@media (max-width: 912px)
{
  #footer
  {
    margin-bottom: -6%;
  }
}

@media (max-width: 800px) {
  .custom-margin-on-button-hm-1 {
    width: auto;
  }

  #footer
  {
    margin-bottom: 0%;
  }

  .stages_tree{
    width: 25%;
    padding: 0;
  }
}

@media (max-width: 768px) {

  #footer,  .row-of-the-table{
    background-image: none;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }

  .reporter-margin {
    margin-right: 0% !important;
    margin-left: 0% !important;
  }

}