.bght{
  display: flex;
align-items: center;
justify-content: center;
  width: 100vw;
  height: 100vh;
}
.bg_img_map{
  background-image: url(../photos/map/bg_img_imap_1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
  height: 100vh;

}
