/* .body {
  background-color: #504B4B;
  width: 100%;
  height: 100vh;
}

.navbar-bg-color-map {
  color: aliceblue !important;
}


.container-map {
  background-image: url(../photos/map/bg-image-map-1.svg);
  background-size: 80vw;
  background-repeat: no-repeat;
  width: 72%;
  height: 75vh;
  margin-left: 12%;
  margin-top: 4%;
  position: relative;
  border-radius: 10px;
  overflow: visible;
  border-radius: 10vh;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container-map:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 0px 98px 54px -46px rgba(0, 0, 0, 0.5);
}

.container-map:hover .text-and-logo-map {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.text-and-logo-map {
  width: 40%;
  height: auto;
  position: absolute;
  line-height: 120px;
  margin-left: -200px;
  margin-top: -90px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.text-and-logo-map:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.on-back-map {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  margin-bottom: -100px;
}

.on-back-map:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media only screen and (max-width: 480px) {
  .container-map {
    width: 75%;
    height: 15vh;
    margin-top: 50%;
    margin-left: 7%;

  }

  .text-and-logo-map {
    width: 35%;
    height: auto;
    margin-top: 10%;
    margin-left: -50px;
    margin-top: -30px;

  }

  .container-map:hover,
  .container-map:hover .text-and-logo-map,
  .on-back-map:hover {
    transform: none;
    transition: none;
    box-shadow: none;
   Ако има сянка, можете да я премахнете 

  }
} */
.bght{
  display: flex;
align-items: center;
justify-content: center;
  width: 100vw;
  height: 100vh;
}
.bg_img_map{
  background-image: url(../photos/map/bg_img_imap_1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
