@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
/* .k {
  background: url(./logo\ 1.png) no-repeat center center;
  background-size: cover;
  width: 152px;
} */

.navbar-item:hover {
  background-color: transparent !important;
}
.p{
  background-color: transparent !important;
  color:#FFF;
  border-color: #FFF;
}

.navbar{
  background-color: transparent !important;
}

.nav-link {
  color: rgba(0, 0, 0, 0.703);
  transition: all 0.4s;
  position: relative;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(0, 0, 0) !important;
}

.custom {
  width: 240px !important;
  border-radius: 49px !important;
  border: 0px solid #FFF !important;
  background: #FFF !important;
  box-shadow: 10px 16px 57.4px -4px rgba(0, 0, 0, 0.25) !important;
}

.nav-link::after {
  content: "";
  height: 1px;
  width: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: 6px;
  left: 0;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

/* Additional styles for logo and navbar items */
.navbar-item img {
  max-height: 5rem !important;
  position: absolute;
  left: -3%;
  top: -16%;
  width: auto;
}

.navbar-brand {
  padding: 0rem; /* Adjust the padding as needed */
}

.logo {
  margin-left: 68px;
  font-size: 33px;
}

.space-nav:not(:last-child) {
  margin-right: 65px; /* Adjust the margin between items on the right side */
    color: rgba(0, 0, 0, 0.551)
}