/* Import the Bulma CSS framework from CDN */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* Styling for navbar item hover effect */
.navbar-item:hover {
  background-color: transparent !important;
}

/* Navbar styles */
.navbar {
  border-bottom: 1px solid #343E4D !important;
  background: rgba(27, 34, 44, 0.51) !important;
  backdrop-filter: blur(52.54999923706055px) !important;
  height: 11vh;
}

/* Custom styling for a button in the navbar */
.chnage-lung-button-navbar {
  background-color: transparent !important;
  border: transparent !important;
  color: white !important;
  outline: none !important;
}

/* Custom styling for an option */
.option-custom {
  background-color: rgba(215, 219, 224, 0.684) !important;
  color: rgb(73, 68, 68) !important;
}

/* Styling for navigation links */
.nav-link {
  color: rgba(255, 255, 255, 0.703);
  transition: all 0.4s;
  position: relative;
}

/* Navigation link hover and focus styles */
.nav-link:hover,
.nav-link:focus {
  color: white !important;
}

/* Custom styling for a button with class "custom" */
.custom {
  width: 240px !important;
  border-radius: 49px !important;
  border: none !important;
  background: #4C5F7A !important;
  box-shadow: 10px 16px 57.4px -4px rgba(0, 0, 0, 0.25) !important;
}

/* Styling for an underline effect on navigation link hover and focus */
.nav-link::after {
  content: "";
  height: 1px;
  width: 70%;
  background: white;
  position: absolute;
  bottom: 20%;
  left: 0;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

/* Underline effect on navigation link hover and focus */
.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

/* Styling for the logo image within a navbar item */
.navbar-item #logo_img {
  max-height: 5rem !important;
  margin-left: 3vw;
  width: auto;
}

/* Styling for the logo text */
.logo {
  font-size: 33px;
  color: #B8B2B2;
}

/* Spacing between navbar items, not applied to the last item */
.space-nav:not(:last-child) {
  margin-right: 10%;
  color: rgba(255, 255, 255, 0.699);
}

/* Media query for adjusting logo size at a maximum width of 1500px */
@media (max-width: 1500px) {
  #logo_img {
    height: 136%;
    width: auto;
  }
}

/* Media query for adjusting logo and item spacing at a maximum width between 1212px and 1024px */
@media (max-width: 1212px) and (min-width: 1024px) {
  #logo_img {
    margin-left: -10% !important;
  }
  .item-navbar {
    margin-right: 4% !important;
  }
}

/* Media query for adjusting text color on mobile devices at a maximum width of 1023px */
@media (max-width: 1023px) {
  .text-on-mobile {
    color: black !important;
  }
}
