body{
    overflow-y: scroll;
}

@media (min-width: 780px) {
    .bezhui{
        position: fixed;
        height: 94vh;
        z-index: 0;
    }
    .bezhui-1{
        position: fixed;
        height: 164vh;
        width: 51vw;
        background-size: 100%;
        right: 31%;
        top: -9%;
        z-index: 0;
    }
    .bezhui-2{
        position: fixed;
        height: 138vh;
        width: 33vw;
        background-size: 100%;
        z-index: 0;
        left: 72%;
    }
    .custom-font-size-project {
        font-size: 3.9vh !important;
    
    }
    #brg2{
        color: #FFF;
        font-size: 40px;
        
    }
    #zdrkp{
        color: #B8B2B2;
        font-size: 28.3px;
    
    }
    .bezhuirad{
        border: 4px solid;
        width: 40vw;
        height: 80vh;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #pythagoras-tree
    {
        width: 100%;
        height: 100%;
    }
    #brg{
        color: green;
        font-size: 3rem;
    }
  } 
  @media (max-width: 780px) {   
  .bezhui{
    position: fixed;
    height: 94vh;

    z-index: 0;
}
.bezhui-1{
    position: fixed;
    height: 164vh;
    width: 51vw;
    background-size: 100%;
    right: 31%;
    top: -9%;
    z-index: 0;
}
.bezhui-2{
    position: fixed;
    height: 138vh;
    width: 33vw;
    background-size: 100%;
    z-index: 0;
    left: 72%;
}
.custom-font-size-project {
    font-size: 3.9vh !important;

}
#brg2{
    color: #FFF;
    font-size: 30px;
    margin-left: -1%;
    text-align: center;

}
#zdrkp{
    color: #B8B2B2;
    font-size: 28.3px;
    margin-left: -10%;
    text-align: center;

   

}
.bezhuirad{
    border: 4px solid;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
margin-left: -7%;
}

#pythagoras-tree
{
    width: 100%;
    height: 100%;
}
#brg{
    color: green;
    font-size: 3rem;
    margin-left: -5%;
    margin-top: 20%;
}

  } 
@media (min-width: 600px) and (max-width: 1024px) {
    .bezhui-1 {
        height: 120vh;
        width: 70vw;
        right: 20%;
        top: -5%;
    }

    .bezhui-2 {
        height: 110vh;
        width: 45vw;
        left: 60%;
    }

    #brg2 {
        font-size: 30px;
        margin-left: 0;
        text-align: center;

    }

    #zdrkp {
        font-size: 24px;
        margin-left: -5%;
        text-align: center;

    }

    .bezhuirad {
        width: 70%;
        height: 50vh;
        margin-left: 10%;
    }

    #brg {
        font-size: 2.5rem;
        margin-left: 0;
        margin-top: 10%;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .bezhui-1 {
        height: 150vh; 
        width: 80vw;
        right: 15%;
        top: -3%;
    }

    .bezhui-2 {
        height: 130vh;
        width: 55vw;
        left: 55%;
    }

    #brg2 {
        font-size: 60px;
        margin-left: 15%;

        width: 150%;
        text-align: center;


    }

    #zdrkp {
        font-size: 50px;
        width: 180%;
        text-align: center;

    }

    .bezhuirad {
        width: 300%;
        height: 100vh;
    }

    #brg {
        font-size: 5rem;
        margin-left: 50%;

        width: 150%;
        margin-top: 8%;

        
    }
}
@media (min-width: 820px) and (max-width: 1180px) {
    .bezhui-1 {
        height: 150vh; 
        width: 80vw;
        right: 15%;
        top: -3%;
    }

    .bezhui-2 {
        height: 130vh;
        width: 55vw;
        left: 55%;
    }

    #brg2 {
        font-size: 50px;
        margin-left: -5%;

        width: 170%;
        text-align: center;


    }

    #zdrkp {
        font-size: 30px;
        width: 170%;
        text-align: center;

    }

    .bezhuirad {
        width: 260%;
        height: 50vh;

    }

    #brg {
        font-size: 5rem;
        margin-left: 40%;

        width: 170%;
        margin-top: 8%;

        
    }
}


