/* Set vertical scrollbar for the entire body */
body {
    overflow-y: scroll !important;
}

/* Styles for background pictures */

/* Positioned background image 1 */
.back-pic {
    /* Positioned background image 1 */
    position: fixed;
    height: 94vh;
    z-index: 0;
}

    /* Positioned background image 2 */
.back-pic1 {
    position: fixed;
    height: 164vh;
    width: 51vw;
    background-size: 100%;
    right: 31%;
    top: -9%;
    z-index: 0;
}

 /* Positioned background image 3 */
.back-pic2 {
    position: fixed;
    height: 138vh;
    width: 33vw;
    background-size: 100%;
    z-index: 0;
    left: 72%;
}

/* Styles for different text elements */

/* Styles for the title text */
#title-text {
    color: green;
    font-size: 3rem;
}

/* Styles for the text under title */
#under-title-text {
    color: #FFF;
    font-size: 40px;
}

/* Styles for the big text */
#big-text {
    color: #B8B2B2;
    font-size: 28.3px;
}

/* Styles for the tree container */
.tree-box {
    border: 4px solid;
    width: 40vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for the pythagoras tree SVG */
#pythagoras-tree {
    width: 100%;
    height: 100%;
}

/* Media queries for responsive design */

/* For screens between 1024px and 1366px width */
@media (min-width: 1024px) and (max-width: 1366px) {
    .tree-box {
        width: 300%;
        height: 100vh;
    }
}

/* For screens between 820px and 1180px width */
@media (min-width: 820px) and (max-width: 1180px) {
    .tree-box {
        width: 400%;
        height: 50vh;
    }
}

/* For screens up to 780px width */
@media (max-width: 780px) {
    .tree-box {
        width: 100%;
        height: 80vh;
    }
}
