@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

.bg_img_signal {
  position: absolute;
  height: 92vh;
  width: 91vw;
  background-size: 100%;
  right: -20%;
  z-index: 0;
  overflow: hidden !important;
}

.foreground_signal {
  position: relative;
  z-index: 1;
}

#button_styling {
  background-color: transparent !important;
  border: none;
}

.slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 20vh;
}

.card-1 {
  background-image: url(../photos/signal/signal-proba-photo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 35vh;
  height: 50vh;
}

.card-2 {
  background-image: url(../photos/signal/p-and-l-signal.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 35vh;
  height: 50vh;
}

.card-3 {
  background-image: url(../photos/signal/d-and-p-signal.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 35vh;
  height: 50vh;
}

.style-n-d {
  border-radius: 70px;
  background: linear-gradient(270deg, #321804 4.44%, #780B0B 96.96%);
  position: relative;
  border: none;
  cursor: pointer;
}

.style-p-and-l {
  border-radius: 70px;
  background: linear-gradient(270deg, #4E3926 4.44%, #86603E 96.96%);
  position: relative;
  border: none;
  cursor: pointer;
}

.style-d-and-p {
  border-radius: 70px;
  background: linear-gradient(270deg, #1C4910 5.61%, #255D16 85.98%);
  position: relative;
  border: none;
  cursor: pointer;
}