/* Importing the Montserrat font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

/* Styling for invalid input[type="email"] */
input[type="email"]:invalid {
    border-color: red;
}

/* Styling for text with class .text11 */
.text11 {
    margin-top: 15%;
    font-family: Comfortaa;
    font-size: 20px;
    letter-spacing: 0.5px;
}

/* Styling for text with class .text21 */
.text21 {
    font-family: Comfortaa;
    font-size: 16px;
    margin-top: 10%;
}
    .section-size-all-classes1 {
        height: 100vh;
        overflow-y: scroll !important;
    }
    .nova {
        background-image: url(../photos/signal/Group\ 1.svg);
        background-repeat: no-repeat;
        height: 70%;
        border-radius: 40px;
        background: linear-gradient(180deg, #36AC32 0%, #116C06 100%);
    }
    .center-underline {
        align-items: end;
        display: flex;
        justify-content: center;
        }
    .para {
        margin-top: 20%;
    }
    .stara {
        margin-top: 3%;
        margin-left: 10%;
    }


/* Media query for screens with maximum width of 780px */
@media (max-width: 780px) {
    /* Styling for elements within this media query */

    .section-size-all-classes1 {
        height: auto;
        overflow-y: scroll !important;
    }
    .nova {
        background-image: url(../photos/signal/Group\ 1.svg);
        background-repeat: no-repeat;
        height: 70%;
        width: 100%;
        border-radius: 40px;
        background: linear-gradient(180deg, #36AC32 0%, #116C06 100%);
    }
    .center-underline {
        display: flex;
        align-items: end;
        justify-content: center;
    }
    .para {
        margin-top: 20%;
        margin-left: 3%;
    }
}
.commit-div{
    display: flex;
    align-items: end;
    justify-content: center;
}