@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
body {
    overflow-y: scroll; 
}
.op-ces{
    position: absolute;
    height: 92vh;
    width: 91vw;
    background-size: 100%;
    right: -20%;
    z-index: 0;
}
.cl_of_body_signal{
    background: #1B222C  !important;
    width: 100vw;
    height: 100vh;
}
.nova
{
  background-image: url(../photos/signal/Group\ 1.svg);
  background-repeat: no-repeat;
  width: 99%;
  border-radius: 40px;
  background-size: cover;
  background: linear-gradient(180deg, #36AC32 0%, #116C06 100%);
}
.center-underline {
    text-decoration: none;
    display: block;
    width: max-content;
    margin: 0 auto;
    position: relative;
    color: #FFF;
    text-align: center;
    margin-top: 40%;
  }
  
  .center-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: 0; 
    left: 0;
  }
  

.text11{
color: #FFF;
 margin-top: 0%;
font-family: Comfortaa;
font-size: 26px;
letter-spacing: 0.5px;

;
}
.text21{
    color: #FFF;
    font-family: Comfortaa;
    font-size: 18px;
    margin-top: 13%;

   }
   .text22{
    color: #FFF;
    font-family: Comfortaa;
    font-size: 18px;
   }
.second2
{
    margin-top: 3%;
    
}
input[type="email"]:invalid {
    border-color: red;
  }
  @media (min-width: 780px) {
    .text1{
margin-top: 5%;
    }
    .text2
    {
        margin-top: 4%;
    }
    .cap1{
        margin-top: 5%;

    }
    .cap2{
        margin-top: 4%;

    }
    .logo21{
        margin-top: 85%;
width: 35%;
    }
    .logo2{
        margin-top:40%;
        margin-left: -39%;
    }
    .para{
        width: 60%;
    }
    .field:not(.is-grouped) ,
    .field:not(.is-grouped),
    .field:not(.is-grouped)  {
        width: 80%;
    }
    .stara{
        margin-left: 12%;
    }
    .brz{
        margin-left: 15%;
    }
    .text11{
        color: #FFF;
     margin-top: 40%;
    font-family: Comfortaa;
    font-size: 26px;
    letter-spacing: 0.5px;
    
    ;
    }
    .nova
{
  background-image: url(../photos/signal/Group\ 1.svg);
  background-repeat: no-repeat;
  overflow-x: hidden;
  height: 70vh;
  width: 200%;
  border-radius: 40px;
  background: linear-gradient(180deg, #36AC32 0%, #116C06 100%);
}
.text21{
    color: #FFF;
    font-family: Comfortaa;
    font-size: 18px;
    margin-top: 13%;
   }
    
  }    