/* Importing the Montserrat font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

/* Styling for invalid input[type="email"] */
input[type="email"]:invalid {
    border-color: red;
}
.flex-for-green-box{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

}
.button-position{
    margin-bottom: 5%;
}
.aligns-for-upper-text-greenbox{
    position: absolute;
    width: 100%;
    top: 2%;
    left: 4%;
}
.button-after-effect::after{
    content: "";
    height: 1px;
    width: 50%;
    background: white;
    position: absolute;
    bottom: 2%;
    left: 25%;

}
/* Styling for text with class .text11 */
.upper-text-one {
    font-family: Comfortaa;
    font-size: 20px;
    letter-spacing: 0.5px;
}

/* Styling for text with class .text21 */
.upper-text-two {
    font-family: Comfortaa;
    font-size: 16px;
    margin-top: 10%;
}

    .section-size-all-classes1 {
        height: 100vh;
        overflow-y: scroll !important;
    }
    .style-green-box {
        background-image: url(../photos/signal/after-submit.svg);
        background-repeat: no-repeat;
        height: 65vh;
        background-size: contain;
        width: 17vw !important;
    }

@media (max-width: 1200px) 
{
.aligns-small-device-sp{
display: flex;
flex-direction: column;
}    
}
/* Media query for screens with maximum width of 780px */
@media (max-width: 780px) {
    /* Styling for elements within this media query */

    .section-size-all-classes1 {
        height: auto;
        overflow-y: scroll !important;
    }

}
