@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

.bg_img_signal {
  position: absolute;
  height: 92vh;
  width: 91vw;
  background-size: 100%;
  right: -20%;
  z-index: 0;
  overflow: hidden !important;
}

.foreground_signal {
  position: relative;
  z-index: 1;
}

#button_styling {
  background-color: transparent !important;
  border: none;
}

.card-1 {
  background-image: url(../photos/signal/n-d.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 34vh;
  height: 49vh;
}

.card-2 {
  background-image: url(../photos/signal/p-and-l-signal.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 34vh;
  height: 49vh;
}

.card-3 {
  background-image: url(../photos/signal/d-and-p-signal.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 34vh;
  height: 49vh;
}

.style-report-btn-signal {
  background: transparent !important;
  position: relative;
  color: #CAC3C3;
  border: 2px solid #CAC3C3;
  border-radius: 70px;
  cursor: pointer;
  transition: 0.2s;
}
.style-report-btn-signal:hover{
  background: #CAC3C3 !important;
  color: #02030A !important;
}
