@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

.op-ces{
    position: absolute;
    height: 92vh;
    width: 91vw;
    background-size: 100%;
    right: -20%;
    z-index: 0;
}
.cl_of_body_signal{
    background: #1B222C  !important;
    width: 100vw;
    height: 100vh;
}
.huistartazagora{
    overflow: hidden !important;
}