@import url(homepage.css);
@import url(nav.css);
@import url(../styles/map.css);
@import url(../styles/about-us.css);
@import url(../styles/full-map.css);
@import url(../styles/signal.css);
@import url(https://fonts.google.com/specimen/Comfortaa);
@import url(https://fonts.google.com/specimen/Comfortaa);
@import url(../styles/signal-diseases\ and\ pests.css);
@import url(../styles/signal-natural-disaster.css);
@import url(../styles/signal-poll-ill-log.css);
@import url(../styles/project.css);
@import url(../styles/donate.css);
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comfortaa;

}

.overflow_hidden {
  overflow: hidden !important;
}
body {
  background-color: #080E09;
  overflow-x: hidden;
}

.color-of-main-text
{
  color:#cac3c3 !important;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;

}

::-webkit-scrollbar-track {
  background: rgb(44, 42, 42);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #5e6c7e;
  border-radius: 45px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #2d3950;
}

.section-size-all-classes {
  overflow: hidden !important;
  background: #1B222C !important;
  width: 100vw;
  height: 100vh;
}